body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    max-width: 800px;
    margin-inline: auto;
}

header {
    margin-bottom: 50px;
}

.space-Below {
    margin-bottom: 50px;
}

pre {
    background: #333;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    position: relative;
}

button.copy-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.white {
    background-color: white;
}

p {
    line-height: 1.5em;
}

math {
    margin: 40px 20px;
}

.hidden {
    display: none;
}

.circuitLabel {
    font: italic 13px sans-serif;
    fill: white;
    paint-order: stroke;
    stroke: black;
    stroke-width: 5px;
    stroke-linejoin: round;
}

.generator-input-params{
    display: grid;
    grid-template-columns: 200px 200px;
    row-gap: 10px;
}