body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    max-width: 800px;
    margin-inline: auto;
}

header {
    margin-bottom: 50px;
}

.space-Below {
    margin-bottom: 50px;
}

pre {
    background: #333;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    position: relative;
}

button.copy-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.white {
    background-color: white;
}